body{
    font-family:Helvetica, sans-serif, Arial;
}

h1{
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
    color: rgb(56, 193, 197);
}

.row{
    margin-bottom: 10px;
    text-align: center;
}

.bpmInput {
    
}

.adjustmentButtons{
    margin-left: 0;
    margin-top: 5px;
}

#bpmadjustMinus10{
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: aqua;
    border-radius: 5px
    
}

#bpmadjustAdd10 {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: aqua;
    border-radius: 5px
}

#bpmadjustMinus5{
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 5px
}

#bpmadjustAdd5 {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 5px
}

#bpmadjustMinus1 {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: azure;
    border-radius: 5px
}

#bpmadjustAdd1 {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: azure;
    border-radius: 5px
}

#tapButton {
    width: 75px;
    height: 75px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(13, 223, 223);
    border-radius: 5px
}

.subdivisionSelector{
    
}

.metronomeSoundAdjustments{
     

}

#selectedSound{

}

.playbackButtons{
 
}

#startButton{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    text-align: center;
    background-color:  lightgreen;
    width: 50px;
    height: 50px;
    border-radius: 5px
}

#stopButton{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    text-align: center;
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 5px
}

.volume {
    margin-left: 0;
    margin-top: 0;
}

#volumeLevel{
    max-width: 25px;
}

.noteBox {
    background-color: rgb(119, 189, 255);
    height: 40px;
    border: 3px solid black;
    flex-wrap: wrap;
    margin-left: 0;
}

.noteText{
    font-size: 12px;
    text-align: center;
}

#beatIndicator{
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    border-radius: 50;
    border: 3px solid black;
}