<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Metronome</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/metronome.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>ET's Metronome</h1>
         
        <!-- Metronome Sound Dropdown Select -->
        <!-- <label for="metronomeSound">Choose a Metronome sound:</label>
        <select name="metronomeSound" id="metronomeSound" onchange="updateSound(this, event)">
            <option value="tick">Tick</option>
            <option selected value="click">Click</option>
            <option value="cowbell">Cowbell</option>
            <option value="hihat">Hi Hat</option>
            <option value="beep">Beep</option>
            <option value="rimshot">Rimshot</option>
        </select> -->

        <div class="mainBpmElements">
            
            <div class="row bpmInput" >
                <!-- BPM input -->
                <label for="bpm"> Input BPM:</label>
                <input type="number" id="bpm" value="120" min="1" max="300">
            </div>

            <div class="row bpmAdjustments">
                <span>BPM Adjustments:</span>
   
                <br>
                <div class="adjustmentButtons">
                    <!-- BPM Adjustment Buttons -->
                    <button id="bpmadjustMinus10"onclick="changeBpm(-10)">-10</button>
                    <button id="bpmadjustMinus5" onclick="changeBpm(-5)">-5</button>
                    <button id="bpmadjustMinus1" onclick="changeBpm(-1)">-1</button>
                    <button id="bpmadjustAdd1" onclick="changeBpm(1)">+1</button>
                    <button id="bpmadjustAdd5" onclick="changeBpm(5)">+5</button>
                    <button id="bpmadjustAdd10"onclick="changeBpm(10)">+10</button>
                </div>
            </div>

            <div class="row tapTempo">
                <button id="tapButton">Tap Tempo</button>
            </div>
            
            <div class="row">
                <div class="tapInstructions">Tap 8 Times</div>
            </div>

            <div class="row subdivisionSelector">
                <!-- Sub-division Drop Down Select -->
                <label for="subdivisionSelect">Subdivision:</label>
                <select name="subdivisionSelect" id="subdivisionSelect">
                    <option selected value="1">1/4 Note</option>
                    <option value="3">1/4 Triplets</option>
                    <option value="2">1/8 Note</option>
                    <option value="6">1/8 Triplets</option>
                    <option value="4">1/16 Note</option>
                    <option value="12">1/16 Triplets</option>
                </select> 
            </div>

            <div class="row metronomeSoundAdjustments">
                <label for="selectedSound">Sound:</label>
                <select id="selectedSound">
                    <option selected value="0">Sine</option>
                    <option value="1">Square</option>
                    <option value="2">Sawtooth</option>
                    <option value="3">Triangle</option>
                </select>
            </div>

            <div class="row metronomeSoundAdjustments">
                
                <label for="selectedFrequency">Frequency:</label>
                <select id="selectedFrequency">
                    <option value="0">High</option>
                    <option selected value="1">Mid</option>
                    <option value="2">Low</option>
                </select>
            </div>

            <div class="row playbackButtons">
                <!-- Start and Stop buttons -->
                <button id="startButton">Start</button>
                <button id="stopButton">Stop</button>
            </div>
            
            <div class="row volume">
                <!-- Volume slider -->
                <label for="volumeSlider">Volume</label>
                <input type="range" id="volumeSlider" min="0" max="1" step=".01">
                <input type="text" id="volumeLevel" value=".75"/>
            </div>
        </div>

        <div class="row noteBox">
        <span class="noteText"><u><b>NOTE</b>:</u><em> Any changes made to the BPM or Subdivisions will require you restart the metronome.</em></span>
        </div>
        <br>    

        <!-- Audio element -->
        <!-- <audio id="audio" controls>
            <source id="soundSource" src="/static/sounds/click.mp3" type="audio/mp3"/>
            Your browser does not support the audio element.
        </audio> -->

        <div class="row">
            <div id ="beatIndicator" style="width: 50px; height: 50px; background-color: grey; border-radius: 50%;"></div>
        </div>
    </div>
</body>
</html>